<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head') %>
</head>
<body>
    <header>
        <%-include('../partials/header.ejs') %>
    </header>
    <nav>
        <%-include('../partials/nav.ejs') %>
    </nav>
    <main>
        <img src="./img/separador_inicio.jpg" alt="" class="img_ini">
        <p class="acerca_text">Apex Legends es un videojuego de disparos en primera persona y juego de acción en primera persona, desarrollado por Respawn Entertainment y publicado por Electronic Arts. El juego se anunció el 3 de febrero de 2019 y se dio a conocer y se lanzó de forma gratuita al día siguiente.
        <br>
        El juego es una parte del universo de Titanfall, teniendo lugar 30 años después de los eventos de Titanfall 2.
        </p>

        <label for="HIS" class="btn_ITE"><h2 class="acerca_h2">Historia</h2>
        <img src="./img/arrow_drop_up_icon_206153.png" alt="" class="btn_icons"></label>
        <input type="checkbox" name="HIS" id="HIS">
        <p class="acerca_text historia">Apex Legends se lleva a cabo treinta años después de la Batalla de Typhon, en una región de la Frontera en la periferia llamada Tierras Salvajes. La guerra de la frontera ha terminado, con la presunta derrota del IMC; El momento exacto del fin de la guerra no es seguro. Sin el IMC ni la Milicia para ejercer el orden en la Frontera devastada por la guerra, el tiempo intermedio permitió el nacimiento de un nuevo deporte de sangre competitivo conocido como los Juegos Apex. Se supone que los Juegos Apex están fundados y organizados por Kuben Blisk, fundador de la unidad de mercenarios Predadores Apex original y veterano de la Guerra de la Frontera. La isla de Cañon de los Reyes una región que antes era rica en recursos, pero ahora es una isla dedicada al puerto de sangre donde se encuentran los mejores cazadores y gladiadores de la Frontera, el sitio principal de los Juegos Apex.</p>
        <label for="GAME" class="btn_ITE"><h2 class="acerca_h2">Gameplay</h2>
        <img src="./img/arrow_drop_up_icon_206153.png" alt="" class="btn_icons"></label>
        <input type="checkbox" name="GAME" id="GAME">
        <p class="acerca_text Gameplay">Apex Legends es un juego de disparos en primera persona, como los juegos principales de la serie Titanfall. Sin embargo, a diferencia de los juegos anteriores, Apex Legends es un juego online sin una campaña para un solo jugador. El juego es un "tirador de héroes", donde los jugadores juegan como personajes discretos e individualizados con sus propios diseños, personalidades, historias y habilidades especiales. El formato principal del juego es una "batalla real", donde los jugadores se lanzan a una isla remota sin suministros; deben encontrara armas y objetos para repartidos por el mapa para asi luchar contra otros en un campo de batalla free for all, cada vez más reducido, y el ganador es el último hombre en pie.
        <br>    
        Los jugadores juegan como "Leyendas", personajes héroe similares a las clases Piloto o Titán que se encuentran en Titanfall 2. Las partidas estándar en Apex Legends se juegan en escuadrones de tres, luchando contra otras diecinueve escuadrillas por un total de veinte escuadrones (60 jugadores) en cualquier partido dado Los ganadores, los campeones de Apex del juego, son el último equipo que queda en pie después de que todos los demás equipos son eliminados.</p>

        <label for="LEY" class="btn_ITE"><h2 class="acerca_h2">Leyendas</h2>
        <img src="./img/arrow_drop_up_icon_206153.png" alt="" class="btn_icons"></label>
        <input type="checkbox" name="LEY" id="LEY">
        <p class="acerca_text Leyendas">Antes de que comience el juego, los tres miembros del escuadrón se colocan en orden aleatorio y se les dan unos segundos cada uno para elegir su Leyenda para el juego; La elección de leyenda dentro del equipo es por orden de llegada, y no se permiten Leyendas duplicadas (dos compañeros de equipo no pueden elegir el mismo personaje). El último jugador en elegir su Leyenda es el designado "Maestro de Saltos", que finalmente decide dónde y cuándo el equipo de fuego cae en el mapa como una sola unidad, aunque pueden pasar el rol a otro jugador durante la fase de caída.</p>

        <label for="ITE" class="btn_ITE"><h2 class="acerca_h2">Ítems</h2>
        <img src="./img/arrow_drop_up_icon_206153.png" alt="" class="btn_icons"></label>
        <input type="checkbox" name="ITE" id="ITE">
        <p class="acerca_text Ítems">Todos los competidores comienzan una partida sin equipo en su persona, dejando de lado las habilidades especiales. Deben limpiar el campo en busca de armas y municiones, equipo, artefactos y consumibles. Los elementos se distribuyen aleatoriamente en el mapa, por lo que no habrá dos engendros de elementos iguales entre las coincidencias; Dicho esto, ciertas regiones del mapa se designan según las ciertas rarezas del equipo que probablemente contengan. La mayoría de todos los artículos se pueden encontrar tirados al aire libre, en bandejas de suministros o en el raro Loot Tick escondido alrededor del mapa. Un par de artículos excepcionales, especialmente el Kraber y el Mastiff de calidad dorada, solo se pueden encontrar inicialmente en una caída aleatoria de suministros. Los artículos también se pueden extraer de la "caja de la muerte" de un competidor derrotado, los restos de su inventario desde el momento en que fueron eliminados; una caja de muerte brillará con el color del objeto de mayor rareza en esa caja.</p>

        <label for="ARM" class="btn_ITE"><h2 class="acerca_h2">Armas</h2>
        <img src="./img/arrow_drop_up_icon_206153.png" alt="" class="btn_icons"></label>
        <input type="checkbox" name="ARM" id="ARM">
        <p class="acerca_text Armas">Actualmente hay 20 armas disponibles para que los jugadores las encuentren, 19 en el lanzamiento, y se planean agregar más en el futuro. La mayoría de las armas reaparecen de los juegos anteriores de Titanfall, mientras que algunas de ellas son versiones actualizadas de armas antiguas o nuevas en general. Hay seis clases disponibles de tipo de arma: rifles de asalto, metralletas, ametralladoras ligeras, rifles de francotirador, escopetas y pistolas. En general, también están organizados según el tipo de munición que usan (munición ligera, munición pesada, munición de energía o proyectiles de escopeta). Las armas pueden personalizarse estéticamente con sus propias máscaras que un jugador elige fuera del juego; recoger el arma de otro jugador te permite ver la personalización que usan en su arma, si la hay.
        <br>
        Casi todas las armas se pueden modificar sobre la marcha con accesorios, piezas del kit descubiertas en el campo para mejorar la funcionalidad de una pistola. Estos mods incluyen barriles y acciones para mejorar el manejo, revistas más grandes para aumentar la capacidad de munición, alcances para mejorar la capacidad de miras de hierro de una pistola, y otras modificaciones especiales como un estrangulador para reducir la proyección de proyectiles en las escopetas o un mod de flexibilidad que permite que ciertas armas cambien su Modo de disparo o un mod de disparador de cráneo que aumenta el daño de disparo en la cabeza por armas pesadas de tirador. Al cambiar un arma por otra encontrada en el campo, el juego mostrará qué modificaciones, si las hay, se transferirán a la nueva arma.
        </p>
    </main>
    <footer>
        <%-include('../partials/footer.ejs') %>
    </footer>
</body>
</html>