<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%-include('../partials/header.ejs') %>
    </header>
    <nav>
        <%-include('../partials/nav.ejs') %>
    </nav>
    <main>
        <section>
            <div class="box_arena">
                <div class="box_menu">
                    <h3 class="menu_tit"> ARENAS</h3>
                    <p class="menu_text">Cuando no haya dónde esconderse, deberás perfeccionar tus habilidades. A diferencia de la gran escala de los Juegos Apex, los mapas de las Arenas se han diseñado especialmente para una frenética acción 3 vs 3.</p>
                    <ul class="list_nav">
                        <li><a href="#bis" class="btn_arena bis">Bis</a></li>
                        <li><a href="#desborde" class="btn_arena desborde">Desborde</a></li>
                        <li><a href="#sorpresa" class="btn_arena asistente">Asistente sorpresa</a></li>
                        <li><a href="#saltafases" class="btn_arena saltafases">Saltafases</a></li>
                        <li><a href="#rotacion" class="btn_arena rotacion">Mapas en rotación</a></li>
                    </ul>
                    
                </div>
                <div>
                <img src="img/maps/arena/bis.jpg" alt="" class="maps_img" id="bis">
                <h4 class="maps_tit">BIS</h4>
                <p class="maps_text">Bis se encuentra en Boreas, donde Seer se labró un nombre. Cuando un meteorito impactó sobre la luna de aquel planeta, todos le echaron la culpa y empezaron a tratarlo como a un marginado maldito. Poco a poco fue atrayendo la atención de otros marginados que venían solo para verlo competir. Con el paso del tiempo, la Arena Bis se fue modificando para reflejar cada vez más el estilo de su competidor más importante.</p>    
                </div>
                <div>
                <img src="img/maps/arena/DESBORDE.jpg" alt="" class="maps_img" id="desborde">
                <h4 class="maps_tit">DESBORDE</h4>
                <p class="maps_text">Tras el descubrimiento de trazas de brántium en los flujos de magma de Talos, Hammond Robotics puso en marcha diversos sistemas para extraerlo a toda costa, entre ellos, una plataforma procesadora automatizada: la Estación Hefesto, más conocida como Desborde. Desde que empezó a funcionar apenas ha visto presencia humana; sin embargo, cuando los organizadores de las Arenas se fijaron en sus espaciosas plataformas, pasó a desempeñar un doble propósito, minería industrial y escenario de caóticos combates.</p> 
                </div>
                <div>
                <img src="img/maps/arena/ASISTENTE SORPRESA.jpg" alt="" class="maps_img" id="sorpresa">
                <h4 class="maps_tit">ASISTENTE SORPRESA</h4>
                <p class="maps_text">Mirage llevaba el Mirage Voyage por el punto caliente Kómma del planeta Solace, que anteriormente controlaba IMC, cuando perdió el control y lo estrelló en una plaza. Cualquier otra persona se habría pasado el resto de la vida pagando por semejante metedura de pata. Sin embargo, como esta ciudad de juego, antes próspera y repleta de antros y clubes donde se desarrollaban diversas actividades cuestionables, se convirtió en ciudad fantasma, Mirage, como buena leyenda de Apex, llegó a un acuerdo con los propietarios actuales. Con el respaldo de las próximas partidas de las Arenas, Mirage pagó su deuda: ayudó a reactivar la ciudad y la volvió a poner en el mapa.</p> 
                </div>
                <div>
                <img src="img/maps/arena/SALTAFASES.jpg" alt="" class="maps_img" id="saltafases">
                <h4 class="maps_tit">SALTAFASES</h4>
                <p class="maps_text">El saltafases de Olympus es único, pero no fue el primero: la comunidad científica de las Tierras Salvajes tenía que probar esta tecnología antes de poder instalarla en el paraíso intelectual de Lilian Peck. Construyeron un centro de investigación en una sección remota de Talos, donde probaron un prototipo truncado del saltafases. Hace tiempo que se abandonó, pero sigue intacto y funciona a la perfección. Las desavenencias respecto a la propiedad del terreno han brindado a las Arenas la oportunidad de organizar partidas sin ningún tipo de interrupción.</p> 
                </div>
                <div>
                    <img src="img/maps/arena/MAPAS EN ROTACIÓN.jpg" alt="" class="maps_img" id="rotacion">
                    <h4 class="maps_tit">MAPAS EN ROTACIÓN</h4>
                    <p class="maps_text">Las Arenas son la competición sangrienta clandestina de las Tierras Salvajes y sus organizadores saben cómo celebrar una partida en prácticamente cualquier sitio. Además de las ubicaciones personalizadas, habrá tres mapas rotatorios quincenales en puntos de interés de las Tierras Salvajes. ¡Pon a prueba tus habilidades en Artillería del Cañón de los Reyes, Estación térmica de Fin del mundo, Jardines dorados de Olympus y mucho más!</p> 
                </div>
            </div>
            <div class="box_arena">
                <div class="box_menu">
                    <h3 class="menu_tit"> BATTLE ROYALE</h3>
                    <p class="menu_text">Ubicados en planetas por todas las Tierras Salvajes, en estos enormes paisajes se celebran los enormes Juegos Apex.</p>
                    <ul class="list_nav">
                        <li><a href="#cañon" class="btn_arena">CAÑÓN DE LOS REYES</a></li>
                        <li><a href="#findelmundo" class="btn_arena">FIN DEL MUNDO</a></li>
                        <li><a href="#olympus" class="btn_arena">OLYMPUS</a></li>
                    </ul>
                </div>
            
                <div>
                <img src="img/maps/battleroyals/maps-kings-canyon.jpg" alt="" class="maps_img" id="cañon">
                <h4 class="maps_tit">CAÑÓN DE LOS REYES</h4>
                <p class="maps_text">La isla denominada Cañón de los Reyes era un simple asentamiento en el planeta Solace que no prosperó hasta que IMC la eligió como centro de investigación y desarrollo. Contaba con una base aérea, una depuradora y un montón de instalaciones para las operaciones de IMC, como un proyecto top secret sobre el funcionamiento de la tecnología de fase o un programa radical para crear un simulacro de ejército activado por un solo cerebro. A primera vista, el Cañón de los Reyes era una sencilla instalación de IMC que, a pesar de los pesares, trajo estabilidad y puestos de trabajo a Solace.
                <br>
                Para relajarse, los soldados de IMC destinados a este lugar competían en combates tipo gladiadores en una zona a la que apodaban «Cúpula del trueno». Años más tarde, cuando el Sindicato eligió al Cañón de los Reyes para celebrar su competición sangrienta, la Cúpula del trueno quedó intacta como tributo al predecesor de los Juegos Apex. La isla ha sufrido muchos cambios desde entonces: un asaltante desconocido derribó la torre repulsora, una explosión subterránea causó el derrumbe de la Cúpula del trueno y Villa calavera y una colisión de naves destruyó los acantilados del extremo norte de la zona. Da igual que cambie: siempre será el primer hogar de los Juegos Apex.</p> 
                </div>
                <div>
                <img src="img/maps/battleroyals/maps-worlds-edge.jpg" alt="" class="maps_img" id="findelmundo">
                <h4 class="maps_tit">FIN DEL MUNDO</h4>
                <p class="maps_text">Talos es un planeta inclemente con una intensa actividad volcánica. Aunque se creía inhabitable, se crearon pequeños asentamientos de luditas. Sin embargo, se convirtió en un hervidero de actividad de IMC cuando se descubrió un preciado compuesto mineral bajo su superficie. Se construyeron torres refrigerantes para enfriar mucho los ríos naturales de lava y permitir la extracción de recursos. Con cierto optimismo, se apodó a las instalaciones que las albergaban «Un nuevo amanecer» y la ciudad de Fin del mundo creció a su alrededor.
                <br>
                Hace unas décadas, la explosión en una de estas torres dejó el área circundante cubierta por una letal nube congeladora instantánea. Fin del mundo quedó abandonada, salvo por unos cuantos habitantes que formaron una pequeña comunidad de cazadores. En tiempos, rechazaban la tecnología moderna, pero vacilantemente volvieron a aceptarla gracias a la guía de su amado héroe local, Bloodhound. Sin embargo, sus ruinas y la tierra rica en energía del planeta atrajeron la atención de dos grupos fundamentales: el Sindicato de mercenarios y Hammond Robotics. Hoy, Fin del mundo es la segunda residencia de los Juegos Apex y un centro operativo clave para Hammond Robotics, que instaló lo último en tecnología de minería moderna, el Recolector planetario, para comenzar su propia extracción de recursos.</p>    
                </div>
                <div>
                <img src="img/maps/battleroyals/maps-olympus.jpg" alt="" class="maps_img" id="olympus">
                <h4 class="maps_tit">OLYMPUS</h4>
                <p class="maps_text">Olympus era una ciudad de ensueño, una utopía que flotaba en las nubes sobre Psamathe. En este lugar, las mentes más brillantes de las Tierras Salvajes podían reunirse e intercambiar ideas, que llevaban a avances en las ciencias y las artes. Sin embargo, todos los sueños se acaban y este lo hizo de forma explosiva: un accidente en un laboratorio experimental creó una brecha de fase (una enorme burbuja de energía de fase) y los más brillantes de las Tierras Salvajes abandonaron rápidamente la ciudad.
                <br>
                Sin embargo, Olympus se mantenía mediante sistemas informáticos avanzados, por lo que rápidamente encontró nuevos compradores entre la élite de las Tierras Salvajes. Durante 40 años, fue un lujoso destino turístico y la Brecha era su principal atracción. Por desgracia, con el tiempo, la Brecha empezó a ser inestable y Olympus se evacuó por completo. Poco después, Hammond Robotics, con el respaldo del Sindicato de mercenarios, transformó Olympus en un nuevo escenario para los Juegos Apex. Nadie tiene ni la más remota idea de por qué.</p> 
                </div>
            </div>
        </section>
    </main>
    <footer>
        <%-include('../partials/footer.ejs') %>
    </footer>
</body>
</html>