<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head') %>
</head>
<body>
    <header>
        <%-include('../partials/header.ejs') %>
    </header>
    <nav>
        <%-include('../partials/nav.ejs') %>
    </nav>
    <main>
        <section class="requisito">
            <div class="requi">
                <h2 class="req_h2">REQUISITOS MÍNIMOS DEL SISTEMA PARA APEX LEGENDS</h2>
                <li class="req_li"><b>Sistema operativo:</b>Windows 7 de 64 bits</li>
                <li class="req_li"><b>CPU:</b>Intel Core i3-6300 3,8 GHz/AMD FX-4350 4,2 GHz con procesador de 4 núcleos</li>
                <li class="req_li"><b>RAM:</b>6 GB</li>
                <li class="req_li"><b>GPU:</b>NVIDIA GeForce GT 640/Radeon HD 7730</li>
                <li class="req_li"><b>RAM DE GPU:</b>1 GB</li>
                <li class="req_li"><b>DISCO DURO:</b>al menos 22 GB de espacio libre</li>
                <h2 class="req_h2 reqtit">REQUISITOS DEL SISTEMA RECOMENDADOS PARA APEX LEGENDS</h2>
                <p class="req_li">Aunque los jugadores con las especificaciones mínimas podrán jugar a Apex Legends sin problemas, quienes buscan tener la mejor experiencia posible querrán asegurarse de cumplir nuestras especificaciones recomendadas para un juego fluido a 60 fotogramas por segundo.</p>
                <li class="req_li"><b>Sistema operativo:</b>Windows 7 de 64 bits</li>
                <li class="req_li"><b>CPU:</b>Intel i5 3570K o equivalente</li>
                <li class="req_li"><b>RAM:</b>8 GB</li>
                <li class="req_li"><b>GPU:</b>Nvidia GeForce GTX 970/AMD Radeon R9 290</li>
                <li class="req_li"><b>RAM DE GPU:</b>8 GB</li>
                <li class="req_li"><b>DISCO DURO:</b>al menos 22 GB de espacio libre</li>
                <p class="req_li">Tener las mejores especificaciones es genial, pero aun así querrás tener control sobre los gráficos y el rendimiento del juego. Los jugadores de PC tienen muchas opciones disponibles:</p>
            </div>
        </section>
        
        
        <section class="req_section">
            <div class="req_01">
                <h2 class="req_h2">Opciones para PC</h2>
                <li class="req_li"><b>Objetivo de FPS de resolución adaptativa:</b> 0 (no) - 100 (requiere TSAA cuando está activado).</li>
                <li class="req_li"><b>Supermuestreo adaptativo:</b> desactivado/activado</li>
                <li class="req_li"><b>Antialiasing:</b> ninguno/TSAA</li>
                <li class="req_li"><b>Relación de aspecto:</b> 4:3 y 5:4/16:9/16:10/21:9</li>
                <li class="req_li"><b>Oclusión ambiental:</b> desactivada/baja/media/alta</li>
                <li class="req_li"><b>Modo daltonismo: </b> no/protanopía/deuteranopía/tritanopía</li>
                <li class="req_li"><b>Modo de pantalla:</b> pantalla completa/modo ventana/ventana sin borde</li>
                <li class="req_li"><b>Sombras puntuales dinámicas:</b> activadas/desactivadas</li>
                <li class="req_li"><b>Detalle de efectos:</b> bajo/medio/alto</li>
                <li class="req_li"><b>Desenfoque:</b> control deslizante (70-110)</li>
                <li class="req_li"><b>Marcas de impactos:</b> desactivadas/bajo/alto</li>
                <li class="req_li"><b>Detalle de modelos:</b> bajo/medio/alto</li>
                <li class="req_li"><b>Ragdolls: </b> bajo/medio/alto</li>
                <li class="req_li"><b>Detalle de sombras (puntuales):</b> desactivado/bajo/alto/muy alto</li>
                <li class="req_li"><b>Cobertura de sombras (sol):</b> baja/alta</li>
                <li class="req_li"><b>Detalle de sombras (sol):</b> bajo/alto</li>
                <li class="req_li"><b>Filtrado de texturas:</b> bilineal, trilineal, anisotrópico (2x, 4x, 8x, 16x)</li>
                <li class="req_li"><b>Reserva para transmisión de texturas:</b> ninguna/2 GB de VRAM/2-3 GB de VRAM/3 GB de VRAM/4 GB de VRAM/6 GB de VRAM/8 GB de VRAM</li>
                <li class="req_li"><b>Sincronización vertical:</b> desactivada/triple buffer/adaptable/adaptable (media frecuencia)</li>
                <li class="req_li"><b>Luz volumétrica:</b> activada/desactivada</li>
            </div>
            <div class="req_02">
                <h2 class="req_h2">Opciones y características adicionales para PC</h2>
                <li class="req_li">Asignaciones de teclas completamente remapeables</li>
                <li class="req_li">Aceleración del ratón: no/sí</li>
                <li class="req_li">Modo para retransmisiones: no/solo asesino/todos</li>
                <li class="req_li">Control deslizante de sensibilidad del ratón de mirilla en multijugador: de 0,2 a 20,0</li>
                <li class="req_li">Compatibilidad con mandos con múltiples ajustes y opciones de sensibilidad</li>
                <li class="req_li">Modo de grabación del chat de voz: pulsar para hablar/micrófono abierto</li>
                <li class="req_li">Control deslizante de umbral de micrófono abierto</li>
                <li class="req_li">Volumen de chat de voz entrante</li>
                <li class="req_li">Convertir mensajes de texto a mensajes de voz: no/sí 
                (Actualmente solo disponible en inglés)</li>
                <li class="req_li">Convertir mensajes de voz a mensajes de texto: no/sí 
                (Actualmente solo disponible en inglés)</li>
            </div>
            
        </section>


    </main>
    <footer>
        <%-include('../partials/footer.ejs') %>
    </footer>
</body>
</html>