<ul class="footer_ul">
    <li class="footer_li"><a href="/about" class="footer_a">ACERCA DE</a></li>
    <li class="footer_li"><a href="/legends" class="footer_a">LEYENDAS</a></li>
    <li class="footer_li"><a href="/maps" class="footer_a">MAPAS</a></li>
    <li class="footer_li"><a href="/seasson" class="footer_a">TEMPORADAS</a></li>
    <li class="footer_li"><a href="/requirement" class="footer_a">REQUISITOS</a></li>
</ul>
<div class="footer_socials">
    <div class="icons">
        <img src="img/apex-copyright-sigil-white.png" alt="" class="footer_logo">
    <img src="img/apex-respawn-white-logo.png" alt="" class="respawn">   
    </div> 
    <div class="socials">
        <a href="https://www.facebook.com/playapex"><img src="img/icons/facebook.png" alt="" class="img_footer"></a>
        <a href="https://www.twitch.tv/playapex"><img src="img/icons/twitch.png" alt="" class="img_footer"></a>
        <a href="https://twitter.com/PlayApex"><img src="img/icons/twitter.png" alt="" class="img_footer"></a>
        <a href="https://www.youtube.com/playapex"><img src="img/icons/youtube.png" alt="" class="img_footer"></a>
    </div>
</div>