<img src="img/Logo_ApexLegends.png" alt="" class="header_logo">
<h1 class="header_h1">WIKIPEDIA</h1>
<div class="header_account">
    <div class="menu_despl"> 
            <ul>
                <li class="header_li"><a href="#" class="header_a">Perfil</a></li>
                <li class="header_li"><a href="#" class="header_a">Configuracion</a></li>
                <li class="header_li"><a href="#" class="header_a">Cerrar Sesion</a></li>
            </ul>
    </div>
    <img src="img/account.png" alt="" class="account_img">
</div>