<div class="nav_menu">
    <label for="hamb" class="boton_nav">
        <div class="btn_hamburger">
            <img src="img/hamburger_menu.png" alt="" class="btn_img">
        </div>
    </label>
    <input type="checkbox" name="hamb" id="hamb">
    <ul class="nav_ul">
        <li class="nav_li"><a href="/about" class="nav_a">ACERCA DE</a></li>
        <li class="nav_li"><a href="/legends" class="nav_a">LEYENDAS</a></li>
        <li class="nav_li"><a href="/maps" class="nav_a">MAPAS</a></li>
        <li class="nav_li"><a href="/seasson" class="nav_a">TEMPORADAS</a></li>
        <li class="nav_li"><a href="/requirement" class="nav_a">REQUISITOS</a></li>
    </ul>
</div>      